{% extends 'menu.html' %}
{% block title %}Strona główna{% endblock %}

{% block header %}
    
{% endblock %}


{% block content %}
<section>
    <div class = "index">
        {% for recipe in recipes %}
        <div class="box">
            <span class="recipeTitle">
                <p><a href="/przepis/{{recipe.id}}/"> {{recipe.title}}</a></p>
            </span>
            <span class="recipePhoto">
            <a href="/przepis/{{recipe.id}}/"><img src = '/{{recipe.photo}}'/></a>
            </span>
        </div>
        {% endfor %}
        <div class="pageNumber">
        {% for page in pagecount %}
            <span><a href="{% url 'strona' page|add:'1'%}">{{ page|add:'1' }}</a></span>
        {% endfor %}
        </div>
    </div>
</section>
<section>
    <div id="category">  
        {% for cat in categories %}
            <h3>
                <p><a href= "/kategoria/{{ cat.id }}/"> {{cat.name}}</a></p>
            </h3>       
        {% endfor %}
    </div>
</section>        
{% endblock %}

