{% include 'menu.html' %}
<!--<!DOCTYPE html>-->
<html lang ="en">
<head>
    <title>Strona z przepisami</title>



    {% load static %}

    <script defer src="{% static 'js/theme.js'%}"></script>
    <link rel="stylesheet" href="{% static 'css/index.css' %}"  >

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>

  <main>
    <h1>Strona główna</h1>

    <p>
      <span class="content">
    {% for recipe in recipes %}
    <span class="recipeContainer">
        <span class="recipeHeader">
            {{recipe.kategory}}
        </span>
        <span class="recipeDetails">
            <p><a href="/przepis/{{recipe.id}}"> {{recipe.title}}</a></p>
        </span>
        <span class="recipeContent">
            {{ recipe.content|safe }}
        </span>
    </span>
    {% endfor %}
    </p>


  </main>
</span>
</body>
</html>

