{% extends 'menu.html' %}
{% block title %}Strona główna{% endblock %}


<div>
            {% block content %}
            <div class="recipe">
              {% if request.user.is_authenticated %}
              Witaj, {{ request.user }}!<br>
              Skorzystaj z panelu użytkownika aby dodać przepis i potrzebne składniki. <br>
              Jako zalogowany użytkownik możesz oceniać przepisy. 
              {% endif %}
            </div>
            <div class="panel">
              <button class="btn"><a href="{% url 'haslo' %}">Zmień hasło</a></button>
              <button class="btn"><a href="{% url 'przepis' %}">Dodaj przepis</a></button>
              <button class="btn"><a href="{% url 'składniki' %}">Dodaj składnik</a></button>
              <button class="btn"><a href="/admin">Administrator</a></button>
            </div>
            {% endblock %}
</div>
