{% extends 'menu.html' %}

{% load social_share %}

{% block content %}
    <main>
    <p>
        <div class="recipeHeader">
       {{recipe.title}}
    </div>
    <div class="recipeContent">
        {{recipe.content}}
    </div>
    <div>
         {{recipe.date}}
    </div>
    <div>
         <img src = '/{{recipe.photo}}'/>
    </div>
    <div>
        Żródło:
        <p><a href="{{ recipe.source }}"> {{ recipe.source }}</a></p>
    </div>

{% post_to_facebook object_or_url "Opublikuj na Facebooku!" %}
{% post_to_twitter "Super przepis: {{object.title}}. Sprawdź to!" object_or_url "Opublikuj na Twitterze" %}
{% send_email object.title "Super przepis: {{object.title}}. Sprawdź to!" object_or_url "Udostępnij przez e-mail" %}
    </p>
</main>
{% endblock %}





