{% extends 'menu.html' %}
{% block title %}Wyszukiwarka{% endblock %}
{% block content %}
<center>
<h1>Wyszukiwarka</h1>

<form method = GET action="{% url 'szukaj' %}">
    {% csrf_token %}

    <input type="text" name="searched"/>
    <button type="submit">Wyszukaj
    </button>
</form>
<body>
{{ searched }}
{% for recipe in recipes %}
 <span class="recipeDetails">
            <p><a href="/przepis/{{recipe.id}}"> {{recipe.title}}</a></p>
        </span>
        <span class="recipeContent">
            {{ recipe.content|safe }}
        </span>
{% endfor %}
</body>
</center>
{% endblock %}