{% extends 'menu.html' %}
{% block title %}Wyszukiwarka{% endblock %}


{% block content %}
<section>
<h2 id ="textsearch">Znajdź swój ulubiony przepis</h2>

<form method = GET action="{% url 'szukaj' %}" id = "search">
    {% csrf_token %}

    <input type="text" name="searched"/>
    <br></br>
    <button type="submit" class="btn">Wyszukaj</button>
</form>

{{ searched }}
{% for recipe in recipes %}
 <div class="recipe">
    <div class="recipeTitle">
            <p><a href="/przepis/{{recipe.id}}"> {{recipe.title}}</a></p>
    </div>

    <div class="recipePhoto">
        <a href="/przepis/{{recipe.id}}/"><img src = '/{{recipe.photo}}'/></a>
    </div>
</div>
{% endfor %}
</section>
{% endblock %}