{% extends 'menu.html' %}

{% block css %}
    {% load static %}
    <script defer src="{% static 'js/theme.js'%}"></script>
    <link rel="stylesheet" href="{% static 'css/index.css' %}"  >
{% endblock %}

{% block content %}
<div class="recipe">
    {% for ingredient in ingredients %}
    {{ ingredient.name }}
    {% endfor %}
        <form method="post" action="" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Dodaj">
        </form>
    <a href="{% url 'przepis' %}">Wróć do dodawania przepisu.</a>
</div>
{% endblock %}l>