{% extends 'menu.html' %}
{% block title %}Logowanie{% endblock %}

{% block css %}
    {% load static %}
    <script defer src="{% static 'js/theme.js'%}"></script>
    <link rel="stylesheet" href="{% static 'css/index.css' %}" >
    {% endblock %}

{% block content %}

<section id="form">
    <h1 > Logowanie </h1>
</section>
<div class="form">
    <div>
    <form method="post">
        {% csrf_token %}
        {% load crispy_forms_tags %}
        {{ form | crispy}}
        <input type = "submit" value="Zaloguj">
    </form>
    <p><a href="{% url 'password_reset' %}">Zapomniałeś hasła?</a></p>

</div>
    <div>
{{ form.errors }}
Nie masz jeszcze konta? <a href="{% url 'rejestracja' %}">Zarejestruj</a>
        </div>

    <div class="social">
 <ul>
 <li class='facebook'><a href="{% url 'social:begin' 'facebook' %}">Zaloguj się za pomocą konta Facebook</a></li>
 </ul>
</div>
</div>
{% endblock  %}