{% extends 'panel.html' %}
{% block title %}Logowanie{% endblock %}
{% block content %}


<center>
    <h1> Logowanie </h1>
    <p>Wypełnij formularz, aby się zalogować:</p>
    <form method="post">
        {% csrf_token %}
        {% load crispy_forms_tags %}
        {{ form | crispy}}
        <input type = "submit" value="Zaloguj">
    </form>
    <p><a href="{% url 'password_reset' %}">Zapomniałeś hasła?</a></p>
<div>
    {% for message in messages %}
        <p> {{message}}</p>
    {% endfor %}
</div>
    <div>
{{ form.errors }}
Nie masz jeszcze konta? <a href="{% url 'rejestracja' %}">Zarejestruj</a>
        </div>
    <div class="social">
 <ul>
 <li class='facebook'><a href="{% url 'social:begin' 'facebook' %}">Zaloguj się za pomocą konta Facebook</a></li>
 </ul>
</div>
    </center>
{% endblock  %}