{% extends 'panel.html' %}

{% block css %}
    {% load static %}
    <script defer src="{% static 'js/theme.js'%}"></script>
    <link rel="stylesheet" href="{% static 'css/index.css' %}" >
    {% endblock %}

{% block title %}Rejestracja{% endblock %}
{% block content %}
<h1>Rejestracja</h1>
<div>
  <form method="POST">
    {% load crispy_forms_tags %}
    {% csrf_token %}
    {{ form | crispy }}
    <input type = "submit" value="Zarejestruj">
  </form>
</div>
<div>
  {{ form.errors }}
Posiadasz już konto? <a href="{% url 'logowanie' %}">Zaloguj</a>
</div>
{% endblock %}